* {
  box-sizing: border-box;
}

body {
  background-color: #EDF3F8;
}

:root {
  --dark-color: #172A3A;
}

nav {
  display: flex !important; 
  position: absolute;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  height: 70px;
  padding: 0px 20px;
  background-color: var(--dark-color);
  color: #E2E2E2;
  border-bottom: 1px solid;
  z-index: 2;
}

nav a {
  color: #E2E2E2;
  text-decoration: none;
}

nav div a {
  margin-right: 20px;
}

